<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/main.css' %}">
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>William Stein</title>
        {% endif %}
    </head>
    <body>
        <ul class="navigation-bar">
            <a class="nav-item {% if portfolio_view_name == 'contact' %}active-nav-item{% endif %}" href="{% url 'contact-form' %}">Contact</a>
            <a class="nav-item {% if portfolio_view_name == 'resume' %}active-nav-item{% endif %}" href="{% url 'portfolio-resume' %}">Resume</a>
            <a class="nav-item {% if portfolio_view_name == 'projects' %}active-nav-item{% endif %}" href="{% url 'portfolio-projects' %}">Projects</a>
            <a class="nav-item {% if portfolio_view_name == 'home' %}active-nav-item{% endif %}" href="{% url 'portfolio-home' %}">Home</a>
        </ul>
        <main>
            <div>
                {% block content %}{% endblock content %}
            </div>
        </main>
    </body>
    <footer>
        <div class="footer-container">
        </div>
    </footer>
</html>
