{% extends "portfolio/base.html" %}
{% block content %}
    <div class="content">
        <h1>List of projects:</h1>
        <p>Some of the projects are integrated into this website. Click the links below to get more information about the projects.</p>
        <div class="projects-grid-container">
            {% for project in project %}
                <a class="projects-grid-item" href="{% url 'project-detail' project.id %}">
                        <div class="project-grid-item-title">{{ project.project_name }}</div>
                        <div class="project-grid-item-description">
                            <p>{{ project.short_description }}</p>
                        </div>
                        <p>{{ project.status }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}