{% extends "portfolio/base.html" %}
{% block content %}
    <div class="projects-grid-container">
        {% for project in project %}
            <a class="projects-grid-item" href="{% url 'project-detail' project.id %}">
                    <div class="project-grid-item-title">{{ project.project_name }} | {{ project.status }}</div>
                    <div class="project-grid-item-description">
                        <p>{{ project.description }}</p>
                    </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}