{% extends "portfolio/base.html" %}
{% block content %}
{% load static %}
    <script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>
    <script src="{% static 'contact/contact.js' %}"></script>
    <script>recaptchatoken('{{ recaptcha_site_key }}')</script>
    {% if messages %}
        <ul class="alert_message {{ message.tags }}">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <script>alertMessage('{{ message }}');</script>
                {% elif message.tags == 'error' %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|striptags }}</p>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <div class="content">
        <h1>Contact Me</h1>
        <p>Send me a message by filling out the form below.</p>
        <div class='form-container'>
            <form method="post">
                {% csrf_token %}
                
                <!-- reCAPTCHA input -->
				<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">

                <div class='form-input-container'>
                    {% for i in form %}
                        <div class='form-input-group form-object'>
                            <p class='form-input-label'>{{ i.label }}</p>
                            {{ i }}
                        </div>
                    {% endfor %}
                    <div class="form-action-buttons">
                        <button type="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}