{% extends "portfolio/base.html" %}
{% block content %}
    {% if messages %}
        <ul class="alert_message {{ message.tags }}">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="content">
        <h1>Contact Me</h1>
        <p>You can send a message to my email by filling out the form below.</p>
        <div class='form-container'>
            <form method="post">
                {% csrf_token %}
                <div class='form-input-container'>
                    {% for i in form %}
                        <div class='form-input-group'>
                            <p class='form-input-label'>{{ i.label }}</p>
                            {{ i }}
                        </div>
                    {% endfor %}
                    <div class="form-action-buttons">
                        <button type="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
