:root {
    --primaryColor: #007399;
    --secondaryColor: #D0D0D0;
    --white: #ffffff;
    --black: #000000;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 60px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primaryColor);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-item {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    float: right;
}

.nav-item:hover {
    background-color: var(--white);
    color: var(--primaryColor);
    text-decoration: none;
}

.active-nav-item {
    background-color: var(--white);
    color: var(--primaryColor);
}

.projects-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    border:1px solid var(--white);
    border-radius: 5px;
    margin: 0px 50px;
    padding: 10px;
}

.projects-grid-item {
    background-color: var(--white);
    border: 3px solid var(--secondaryColor);
    border-radius: 10px;
    padding: 40px;
}

.projects-grid-item:hover {
    border: 3px solid var(--primaryColor);
}

.project-grid-item-title {
    color: var(--black);
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--secondaryColor);
}

.project-grid-item-description {
    color: var(--black);
}

.project-container {
    border: 1px solid (-var(--primaryColor));
    padding: 0px 50px;
    margin: 10px;
}