:root {
    --primaryColor: #007399;
    --secondaryColor: #D0D0D0;
    --white: #ffffff;
    --black: #000000;
    --successBG: #90ee90;
    --successText: #006400;
    --errorBG: #ff0000;
    --errorText: #8b0000;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
}

button {
    color: var(--primaryColor);
    font-weight: bold;
    background-color: var(--white);
    padding: 10px 20px;
    border: none;
}

button:hover {
    background-color: var(--secondaryColor);
}

.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primaryColor);
    top: 0;
    width: 100%;
}

.nav-item {
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    float: right;
}

.nav-item:hover {
    background-color: var(--white);
    color: var(--primaryColor);
    text-decoration: none;
    transition-duration: 0.4s;
}

.active-nav-item {
    background-color: var(--white);
    color: var(--primaryColor);
}

.content {
    margin: 20px 200px;
}

.projects-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    border:1px solid var(--white);
}

.projects-grid-item {
    background-color: var(--white);
    border: 1px solid var(--secondaryColor);
    padding: 20px;
}

.projects-grid-item:hover {
    border: 1px solid var(--primaryColor);
    transition-duration: 0.4s;
}

.project-grid-item-title {
    color: var(--black);
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--secondaryColor);
}

.project-grid-item-description {
    color: var(--black);
}

.project-container {
    border: 1px solid var(--secondaryColor);
    padding: 0px 50px;
    margin: 20px 200px;
}

.form-input-container {
    padding: 20px;
    background-color: var(--primaryColor);
    border-radius: 5px;
}

.form-textfield {
    padding: 5px;
    border:2px solid var(--white);
    outline: none;
    resize: none;
}

.form-textfield:focus {
    border:2px solid var(--secondaryColor);
}

.form-input-label {
    color: var(--white);
    font-weight: bold;
    margin-bottom: 0;
}

.alert_message {
    width: auto;
    margin: 0;
    padding: 15px;
    font-weight: bold;
}

.success {
    background-color: var(--successBG);
    color: var(--successText);
}

.error {
    background-color: var(--errorBG);
    color: var(--errorText);
}

.closebtn {
    cursor: pointer;
    float: right;
    margin-left: 15px;
}